{
padding: 0;
  margin: 0;
}
.main{
  text-align:center;
  background-color:rgba(244, 161, 175, 0.93);
}
.navbar{
  height: 80px;
  width: 100%;
  background: rgba(0,0,0,0.4);
}
.navbar ul{
  float: right;
  margin-right: 20px;
}
.navbar ul li{
  font-family: sans serif;
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 80px;
 }
<style>
        .info {
            background-color:blue;
           width:70%;
                height:200px;
              overflow:auto;
        }
  .pic {
                width:70%;
            }
        h2{
          font-family:Cursive;
        }
h3{
  font-family:Serif;
}
</style>
 
