{
padding: 0;
  margin: 0;
}
.stars{
  background: url(https://imageio.forbes.com/blogs-images/startswithabang/files/2016/02/mess-1200x965.jpg?height=571&width=711&fit=bounds) no-repeat;
  background-size: cover;
  height: 100vh;
}
.main{
  text-align:center;
  background-color:pink;}
 




