body{
    background-color: rgba(173, 169, 203, 0.675);
}

{
padding: 0;
  margin: 0;
}
.main{
  text-align:center;
  background-color:rgba(244, 161, 175, 0.93);
}
.navbar{
  height: 80px;
  width: 100%;
  background: rgba(0,0,0,0.4);
}
.navbar ul{
  float: right;
  margin-right: 20px;
}
.navbar ul li{
  font-family: sans serif;
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 80px;
 }
<style>
        .info {
            background-color:blue;
           width:70%;
                height:200px;
              overflow:auto;
        }
  .pic {
                width:25%;
            }
        h2{
          font-family:Cursive;
        }
h3{
  font-family:Serif;
}
 .photo {
                width: 200px;
                border:6px ridge rgba(89, 67, 178, 0.271);
                margin-right:3px;
                margin-bottom:3px;
                
            }
    h4.dotted {border-style: dotted;}
    h4 {
  border-style: solid;
  border-color: rgb(153, 117, 159);
}
</style>
 
